@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 채팅창 */
.live_overlay_chatting__gG7gu {
  -ms-overflow-style: none;
  -ms-flex-align: start;
  -webkit-overflow-scrolling: auto;
  align-items: flex-start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  border: 10px solid transparent;
  background: linear-gradient(#fff, #fff),
    linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  font-family: "Ownglyph_ParkDaHyun";
}

.live_overlay_item__Sg18i {
  margin-bottom: 12px;
}

.live_overlay_item__Sg18i:first-child {
  margin-top: auto;
}

/* 채팅 닉네임 */
.name_text__yQG50 {
  color: black;
  margin-left: 25px;
}

/* 말풍선 */
.live_overlay_message__lLCT1 {
  /* background-color: rgba(214, 174, 221, 0.5); */
  border: 10px solid transparent;
  background: linear-gradient(#fff, #fff),
    linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 14px;
  max-width: 520px;
  position: relative;
}

.live_chatting_message_container__vrI-y.live_chatting_message_is_overlay__cALCf
  .live_chatting_message_wrapper__xpYre {
  font-size: 24px;
  line-height: 32px;
  padding: 8px 13px;
}
.live_chatting_message_wrapper__xpYre {
  overflow-wrap: anywhere;
  word-break: break-all;
}

/* 말풍선 */

/* 채팅 */
.live_chatting_message_text__DyleH {
  color: blue !important;
}

/* 이모티콘 */
.live_chatting_message_text__DyleH img {
  height: 24px;
  margin-right: 1px;
  width: 24px;
}

img,
svg {
  vertical-align: top;
}

.badge_container__a64XB img {
  display: none;
}

.badge_container__a64XB::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1521/1521260.png"); /* 새 이미지 경로 */
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 3px;
}
