/* 우측 정렬 */
@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-7Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 채팅창 */
.live_overlay_chatting__gG7gu {
  -ms-overflow-style: none;
  -ms-flex-align: start;
  -webkit-overflow-scrolling: auto;
  align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: auto;
  border: 10px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  font-family: "Ownglyph_ParkDaHyun";
  font-weight: bold;
}

/* 채팅 닉네임 */
.name_text__yQG50 {
  white-space: nowrap;
  margin-left: 2px;
}

/* 말풍선 */
.live_overlay_message__lLCT1 {
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 8px;
  max-width: 520px;
  position: relative;
  background-color: white;
  animation: up 1s ease-out forwards, fadeout 1s forwards;
  animation-delay: 0s, 80s;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.live_chatting_message_container__vrI-y.live_chatting_message_is_overlay__cALCf
  .live_chatting_message_wrapper__xpYre {
  line-height: 32px;
  padding: 3px 0px 0px 4px;
}

.live_chatting_message_wrapper__xpYre {
  overflow-wrap: anywhere;
  word-break: break-all;
}

/* 채팅 */
.live_chatting_message_text__DyleH {
  padding-right: 0.4em;
  color: #333333 !important;
}

/* 이모티콘 */
.live_chatting_message_text__DyleH img {
  height: 24px;
  margin-right: 1px;
  width: 24px;
}

/* 뱃지 */

img,
svg {
  vertical-align: top;
}
