/* 말풍선 모양 */
@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Ownglyph_ParkDaHyun";
}

/* 채팅창 */
.live_overlay_chatting__gG7gu {
  -ms-overflow-style: none;
  -ms-flex-align: start;
  -webkit-overflow-scrolling: auto;
  align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}

.live_overlay_item__Sg18i {
  margin-bottom: 1em;
}

.live_overlay_item__Sg18i:first-child {
  margin-top: auto;
}

/* 채팅 닉네임 */
.name_text__yQG50 {
  color: black;
  /* display: none; */
  margin-right: 5px;
}

/* 말풍선 */
.live_overlay_message__lLCT1 {
  max-width: 520px;
  background-color: #f9f9f9;
  margin-right: 3em;
}

.live_chatting_message_container__vrI-y.live_chatting_message_is_overlay__cALCf
  .live_chatting_message_wrapper__xpYre {
  font-size: 24px;
  line-height: 32px;
  padding: 3px 13px;
}

.live_chatting_message_wrapper__xpYre {
  overflow-wrap: anywhere;
  word-break: break-all;
  /* border-radius: 80px 80px 60px 60px; */
  border-radius: 8px 8px 6px 6px;
  position: relative;
  border: 2px solid purple;
  width: max-content;
  height: auto;
  min-width: 50px;
  text-align: center;
}

.live_chatting_username_container__m1-i5 {
  margin-right: 0 !important;
}

/* .live_chatting_message_wrapper__xpYre::before {
  content: "";
  width: 1em;
  height: 0.2em;
  background-color: white;
  border: 2px solid transparent;

  border-left-color: purple;
  border-right-color: purple;
  border-bottom-color: purple;
  border-bottom-left-radius: 30px 20px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0.2em;
  bottom: -0.27em;
  transform: rotate(9deg);
} */

.live_chatting_message_wrapper__xpYre::after {
  content: "";
  width: 0.2em;
  height: 0.1em;
  background-color: white;
  border: 2px solid transparent;
  border-left-color: purple;
  border-right-color: purple;
  border-bottom-color: purple;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 3px 2px;
  position: absolute;
  right: 0.2em;
  bottom: -0.25em;
  transform: rotate(0deg);
}

/* 말풍선 */

/* 채팅 */
.live_chatting_message_text__DyleH {
  color: #333333 !important;
  text-align: center;
}

/* 이모티콘 */
.live_chatting_message_text__DyleH img {
  max-height: 24px;
  max-width: 24px;
}

img,
svg {
  vertical-align: top;
}

.badge_container__a64XB img {
  /* display: none; */
  margin-right: 10px;
}

/* .badge_container__a64XB::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1521/1521260.png"); 
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -18px;
  left: 0px;
} */
